<%- include ('./partials/header.ejs') -%> 
    <main class='main' id='main'>
        <h3 class="lp">Last Posts</h3>
            <% archivos.forEach(element=> { %>
                <a href="/loadPost/<%= element %>" class="link-button"> <%= element %> </a>
            <% }) %>
        </main>
    </div>
    <script src="/public/scripts/namespace.js"></script>
    </body>
</html>