<%- include ('./partials/header.ejs') -%> 
        <main class='main main-post' id='main'>
            <mi class="mi">
                <%= markdown %>
            </mi>
        </main>
    </div>
    <script src="/public/scripts/insert.js"></script>
</body>
</html>