<%- include ('./partials/header.ejs') -%> 
        <main class='main' id='main'>
            <h3 class="lp">You can find me, in:</h3>
            <div class="contain">
                    <a href="https://www.instagram.com/" class="link-social"><img src="/public/icons/instagram.png" alt=""></a>
                    <a href="https://www.linkedin.com/" class="link-social"><img src="/public/icons/linkedin.png" alt=""></a>
                    <a href="https://github.com/" class="link-social"><img src="/public/icons/github.png" alt=""></a>
                    <a href="https://dev.to/" class="link-social"><img src="/public/icons/dev.svg" class="img-icon" alt=""></a>
            </div>
        </main>
<%- include ('./partials/footer.ejs') -%> 