<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>My Blog</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
                <a href="/" class="link-nav">My Blog</a>
            <div class="options">
                <a href="/whoami" class="link-nav">Whoami</a>
                <a href="/social-medias" class="link-nav">Social Media</a>
            </div>
        </nav>
        <main class='main' id='main'>
            <h3 class="lp">You can find me, in:</h3>
            <div class="contain">
                    <a href="https://www.instagram.com/" class="link-social"><img src="/public/icons/instagram.png" alt=""></a>
                    <a href="https://www.linkedin.com/" class="link-social"><img src="/public/icons/linkedin.png" alt=""></a>
                    <a href="https://github.com/" class="link-social"><img src="/public/icons/github.png" alt=""></a>
                    <a href="https://dev.to/" class="link-social"><img src="/public/icons/dev.svg" class="img-icon" alt=""></a>
            </div>
        </main>
        </div>
</body>
</html>