<%- include ('./partials/header.ejs') -%> 
        <main class='main' id='main'>
            <h3 class="lp">✋ Hi, I'm a backend developer. </h3>
            <p class="lp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde reiciendis culpa ab doloremque facilis quia fuga perferendis et laudantium nihil rem in iure vero eveniet est alias quam, voluptatem libero pariatur impedit. Veritatis, voluptatem iure delectus optio magni ipsum libero at necessitatibus, nulla provident amet vel, excepturi sed commodi possimus!</p>
        </main>        
<%- include ('./partials/footer.ejs') -%> 
